body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input-group label {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

.result.stunting {
    color: red;
}

.result.normal {
    color: green;
}

/* Breakpoints untuk perangkat mobile dan tablet */
@media only screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        margin: 0;
        padding: 0 10px;
    }
}

/* Breakpoints untuk perangkat tablet dan desktop */
@media only screen and (min-width: 769px) {
    .container {
        max-width: 900px;
    }
}

/* Breakpoints untuk perangkat desktop dan layar yang lebih besar */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
